.instrument-label {
    margin-bottom: 0px;
}

h1 {
    font-size: 28px;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-bottom: 0px;
}

label {
  font-weight: normal;
}
